{% extends "base.html" %}

{% block content %}
<h1>Checkout</h1>

<p>Cart total: {{ object.cart.total }}</p>
<p>Shipping total: {{ object.shipping_total }}</p>
<p>Order total: {{ object.total }}</p>

{% endblock %}