{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>{{ object.title }} </h1>
            {{ object.timestamp| timesince}} ago
            {{ object.description|linebreaks }} <br/>
            {% if object.image %}
                <img src='{{ object.image.url }}' class="img-responsive" style="height: auto; width: auto; float: left;"
                    alt=""/>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

hello there